<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <mimeMap fileExtension=".img" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".sts" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".st" mimeType="application/octet-stream" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html" />
      </files>

    </defaultDocument>
  </system.webServer>
</configuration>